.shot-me-photos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 40%;
  width: 100%
}

.shot-me-photo-preview {
  display: block; /*remove inline-block spaces*/
  margin: -00px -00px; /* Top and Left parametr of croping */
  width: 300px;
  max-height: 15vh;
  margin: 10px;
}

.shot-me-photo-border {
  border:3px solid white;
}


.shot-me-buttons-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100px;
  width: 100%;
  font-size: 1.5em;
}